body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    
}

a{
    text-decoration: none;
    color: #292927;
}

ul{
    list-style: none;
}


.header{ 
width: 100%;
height: 35px; 
}



.header-nav__ul{
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 0 0;    
    align-items: center;
}

.header-nav__li{
padding-left: 15px;
justify-content: center;
cursor: pointer;

}

.header-nav__li__menu{
    margin-left: 15px;
    color:#737373; 
    opacity: 0.60;  
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-size: contain; 
    width:27px; 
    height:27px;
}

.header-nav__li__profile{
    border-radius: 50px;    
}

main .main-logo{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
}

.main-input{
    display: flex;
    justify-content: center;
}


main .main-input .main-input__container{
    border: 1px solid #e3e5e9;
    border-radius: 50px;
    width: 560px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

main .main-input .main-input__container:hover{
box-shadow: 0px 2px 6px 0px #cacdd4;

}

main .main-input .main-input__container span{
    padding: 16px;       
}
main .main-input .main-input__container input{
    width: 480px;
    height: auto;
    border: none ;
    outline: none;  
}


main .main-input .main-input__container a{
    padding: 13px 10px 0 0; 
}

.main-button__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button__container div input{
width: 160px;
height: 40px;
margin: 11px 4px;
border: 1px;
padding: 0 16px;
border: 1px solid #e3e5e9;
border-radius: 5px;
background-color: #f2f2f2;
opacity: 0.65;
font-size: 14px;
}
.main-button__container div input:hover{
box-shadow: 0px 2px 6px 0px #cacdd4;
opacity: 1;
}

.main-text__container{
    width: inherit;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}


.main-text__container p{
    width: inherit;
    height: auto;
    /* margin-left: 400px; */
    text-align: center;

}

.footer{
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color:#f2f2f2;
}

.footer-firstrow{
    /* width: auto;
    height: 40px;     */
    /* margin-left: 30px; */
    border: 2px solid #ffffff;
  
    /* opacity: 0.55; */
    /* font-size: 1px; */
}

.footer-lastrow{
    /* width: auto;
    height: 40px; */
    border: 2px solid #ffffff;
 
    /* opacity: 0.55; */
    /* font-size: 13px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 0px 0 20px; */
}

